## NGÔN NGỮ PYTHON

In [ ]:
print ("Hello, World")

Hello, World

In [ ]:
#Future Value

pv = 100
r = 0.1
n= 7
fv = pv * ((1+(r))**n)
print (round(fv,2))

194.87

In [ ]:
amount = 100
interest = 10   #10%
years = 7
future_value = amount * ((1+(interest/100))**years)
print (round(future_value,2))

194.87

In [ ]:
from IPython.display import display
#De print dep hon

In [ ]:
print ("Hello, World")
display ("Hello, World")

Hello, World

'Hello, World'

In [ ]:
score = 80
if score >=60 :
  print("Pass")

Pass

In [ ]:
# Python Variables
x = 2
price = 2.5

word = 'Hello'
word = "Hello"
word = '''Hello'''

print (x, price, word)
print (f'x = {x, type(x)}, price={price, type()} )

SyntaxError: unterminated string literal (detected at line 10) (ipython-input-188526322.py, line 10)

In [ ]:
x = 2
y = x + 1
print (x,y)

2 3

In [ ]:
#comment
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.11.13

In [ ]:
help(python_version)

Help on function python_version in module platform:

python_version()
    Returns the Python version as string 'major.minor.patchlevel'

    Note that unlike the Python sys.version, the returned value
    will always include the patchlevel (it defaults to 0).

In [ ]:
x = 'Hello, World'
print (x, type(x))


x = 2
print(x, type(x))

x = 2.5
print(x, type(x))

x= 7j
print (x,type(x))

Hello, World <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
7j <class 'complex'>

In [ ]:
x = ['apple', 'banana', 'cherry']   #list
x.append('hello')
print(x, type(x), x[1:3])

x= ('apple', 'banana', 'cherry')    #tuple-> k co append duoc nen phhai ghi de lai
#x.append('hello')
x= ('apple', 'banana', 'cherry', 'hello')
print(x, type(x), x[1:3])

x = {"name" : "Tom", "age" : 20} #dictionary
print(x, type(x), x['name'], x['age'])

x = {"apple", "banana", "cherry"} #set
x.add('hello')
print(x, type(x))

x = frozenset({"apple", "banana", "cherry"})    #frozenset
print(x, type(x))

['apple', 'banana', 'cherry', 'hello'] <class 'list'> ['banana', 'cherry']
('apple', 'banana', 'cherry', 'hello') <class 'tuple'> ('banana', 'cherry')
{'name': 'Tom', 'age': 20} <class 'dict'> Tom 20
{'cherry', 'hello', 'apple', 'banana'} <class 'set'>
frozenset({'cherry', 'apple', 'banana'}) <class 'frozenset'>

In [ ]:
x = True
print(x,type(x))

x = b'Hello'  #bytes
print(x,type(x))

x =  bytearray(5) #bytearray
print(x,type(x))

x = memoryview(bytes(5)) #memoryview
print(x,type(x), hex(id(x)))

x = None #NoneType
print(x,type(x))

True <class 'bool'>
b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x7830cc2450c0> <class 'memoryview'> 0x7830cc2450c0
None <class 'NoneType'>

In [ ]:
x = 2 # int
print(x, type(x))

y = 3.4 # float
print(y, type(y))

z = 7j #complex
print(z, type(z))

In [ ]:
#Operation
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

In [ ]:
#True False, Comparison
print(3>2)
print(3<2)
print(3==2)
print(3!=2)
print(3>=2)
print(3<=2)

In [ ]:
#BMI
#Input

heigh_cm = 170
weight_kg = 60

#process

height_m = heigh_cm / 100
bmi = weight_kg / (height_m ** 2)

#output

print('Your BMI is', round(bmi,2))

In [ ]:
#100 do sau 7 nam la bao nhieu?

fv = 100* (1+0.1)** 7
print( 'fv = ', round(fv,2))

In [ ]:
#input
pv = 100
r = 0.1
n = 7

#process
fv = pv * ((1+r)**n)
print ('fv = ', round(fv,2))

In [ ]:
#Input
amount = 100
interest = 10   #10%
years = 7

#process
future_value = amount * ((1+(interest/100))**years)
print ('Future_Value = ',round(future_value,2))

## CẤU TRÚC DỮ LIỆU

In [ ]:
x = ["apple", "banana", "cherry"] #list
print(x, type(x))
x = ("apple", "banana", "cherry") #tuple
print(x, type(x))
x = {"name" : "Tom", "age" : 20} #dict
print(x, type(x))
x = {"apple", "banana", "cherry"} #set
print(x, type(x))

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20} <class 'dict'>
{'cherry', 'apple', 'banana'} <class 'set'>

In [ ]:
#list

x=[60, 70, 80, 90]
print(len(x))    #len(): how many items
print(x[0])
print(x[1])
print(x[2])
print(x[-1])
print(x[3])

4
60
70
80
90
90

In [ ]:
#tuple
x = (10, 20, 30, 40, 50)
print (len(x))
print(x[0])
print(x[1])
print(x[2])
print(x[-1])
#x[0]= 50 # error

5
10
20
30
50

In [ ]:
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)

animals.add('fish')

print('fish' in animals)
print(len(animals))

animals.add('cat')
print(len(animals))

animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

In [ ]:
#dictionary
k = {'EN': 'English', 'FR': 'French'}
print (k['EN'])

English

In [ ]:
#data types
fruits = ["apple", "banana", "cherry"] #lists []
colors = ("red", "green", "blue") #tuples ()
animals = {'cat', 'dog'} #sets {}
person = {"name" : "Tom", "age" : 20} #dictionaries {}

In [ ]:
#lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print('Total Expenses =',total_expenses)

Total Expenses = 293.5

In [ ]:
#tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002), ("Inventory", 1003))
for account in accounts:
    print('Account name: ', account[0], '- Account number: ', account[1])

Account name:  Cash - Account number:  1001
Account name:  Accounts Receivable - Account number:  1002
Account name:  Inventory - Account number:  1003

In [ ]:
#set
account_numbers = set([acc[1] for acc in accounts])  #set comprehensive
print(account_numbers)
new_acc_number = 1004
if new_acc_number not in account_numbers:
    print(f'Account_numbers {new_acc_number} is not in use')

{1001, 1002, 1003}
Account_numbers 1004 is not in use

In [ ]:
#dictionary
accounts = {
    "1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
    "1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
    "2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for account_number, account_info in accounts.items():
    print('-'*50)

    print("Account number:", account_number)

    print("Account name:", account_info["name"])

    print("Account balance:", account_info["balance"])

    print("Account type:", account_info["type"])

--------------------------------------------------
Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
--------------------------------------------------
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
--------------------------------------------------
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

## CONTROL LOGIC AND LOOPS

# Mục mới

In [ ]:
#IF - ELSE
score = 50
if score >= 60:
  print('PASS')
else:
  print('FAIL')

FAIL

In [ ]:
#IF
score = 20
grade =''
if score >= 90:
  grade= 'A'
elif score >= 80:    #SCORE <90 AND >=80
  grade= 'B'
elif score >= 70:
  grade= 'C'
elif score >= 60:
  grade= 'D'
else:
  grade = 'E'

print('Grade: ', grade)

Grade:  E

In [ ]:
#loop
for i in range(1,6):
   print(i, end = ' ')

1 2 3 4 5

In [ ]:
# for loops
for i in range(1,10):
  for j in range(1,10):
    print(i, ' * ' , j , ' = ', i*j)
  print('-'*50)

## MODULE AND FUNCTION

In [ ]:
def getfv(pv, r, n):
  fv = pv * ((1 + (r)) ** n)
  return fv
fv = getfv(100, 0.1, 7)
print('Future value: ',round(fv, 2))

Future value:  194.87

In [ ]:
# Python class
class MyClass:
  x = 5
c1 = MyClass()
print(c1.x)

5

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
p1 = Person("Alan", 20)
print(p1.name)
print(p1.age)

Alan
20

In [ ]:
class Vehicle:
  name = ""
  kind = "car"
  color = ""
  value = 100.00

  def __init__(self, name="", kind="car", color="", value=100.0):
    self.name = name
    self.kind = kind
    self.color = color
    self.value = value
    pass

  def description(self):
    desc_str = f'(self.name) is a (self.color) (self.kind) worth $(self.value)'
    return desc_str
    pass

car1 = Vehicle()
car1.name = 'Fer'
car1.color = 'red'
car1.kind = 'convertible'
car1.value = 60000.00

car2 = Vehicle('Jump', 'blue', 'van', 10000.00)

print(car1.description())
print(car2.description())

(self.name) is a (self.color) (self.kind) worth $(self.value)
(self.name) is a (self.color) (self.kind) worth $(self.value)

In [ ]:
######### ko bieets

## TRY, EXCEPT & FILE HADLING

In [ ]:
try:
  f = open('aa.txt')
  f.close()
except:  #neu loi
  print('File Error')
  pass
finally: #neu khong loi
  print ('Final')

File Error
Final

In [ ]:
# !ls list files
!ls /content/drive/MyDrive/

In [ ]:
import os

print(os.getcwd()) #lay thu muc hientai dang dung
print(os.listdir(os.getcwd()))

/content
[]

## KẾT THÚC